%div{:class => 'span-22 last'}
  = f.input :title, :as => :text, :input_html => { :size => "80x2" }
%div{:class => 'span-22 last'}
  = f.input :authors, :as => :text, :input_html => { :size => "80x2" }
%div{:class => 'span-11'}
  = f.input :volume
%div{:class => 'span-11 last'}
  = f.input :url, :as => :text, :input_html => { :size => "25x2" }
%div{:class => 'span-22 last'}

= f.simple_fields_for :book_edition_attributes, @book.book_edition do |edition_form|
  = render :partial => 'book_editions/book_edition_chapter_form', :locals => { :f => edition_form }
%div{:class => 'span-22 ui-buttons last'}
  = f.button :submit, :value => t(:save), :class => 'ui-state-default ui-corner-all button'
  = button_link_to t(:cancel), book_chapters_path