%div{:class => 'span-22 last'}
  %b=t('.title')
%div{:class => 'span-11'}
  = f.input :location, :label_html => { :class => 'my_label' }
%div{:class => 'span-11 last'}
  = f.input :pobox, :label_html => { :class => 'my_label' }, :required => false
%div{:class => 'span-11'}
  = f.input :country, :as => :string, :label_html => { :class => 'my_label' }
%div{:class => 'span-11 last'}
  = f.input :state, :label_html => { :class => 'my_label' }
%div{:class => 'span-11'}
  = f.input :city, :label_html => { :class => 'my_label' }
%div{:class => 'span-11 last'}
  = f.input :zipcode, :label_html => { :class => 'my_label' }
%div{:class => 'span-11'}
  = f.input :phone, :label_html => { :class => 'my_label' }
%div{:class => 'span-11 last'}
  = f.input :fax, :label_html => { :class => 'my_label' }, :required => false
%div{:class => 'span-22 last'}
  = f.input :mobile, :label_html => { :class => 'my_label' }, :required => false
