%h3=t('.title')
%div{ :id=>'collection', :class => 'span-24 section_left last'}
  %div{:class => 'span-24 row_title last'}
    %div{:class => 'span-17'}= t '.email'
    %div{:class => 'span-3'}= t '.group'
    %div{:class => 'span-3'}= t '.actions'
  = render :partial => @users
%div{:class => 'span-24 last'}
  = will_paginate @users

%div{:class => 'span-24 ui-buttons last'}
  = button_link_to t(:new), new_admin_user_path
