%div{:class => "span-24 section_left last" }
  %h2{:style => 'text-align: left;'}=t('.title')
  = show_for @user do |a|
    = a.attribute :email
    = a.association :group, :using => :name
    = a.attribute :is_admin
  %div{:class => 'span-22 ui-buttons last'}
    = button_link_to t(:edit), edit_admin_user_path(:id => @user)
    = button_link_to t(:cancel), admin_users_path