!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title&= yield(t(:title))
    = render :partial => 'layouts/blueprint'
    = render :partial => 'layouts/css_base'
    = render :partial => 'layouts/js_base'
  %body
    = render :partial => 'layouts/header'
    %div{:class =>'container'}
      - unless current_user.nil?
        = render :partial => 'layouts/navbar'
      = yield
    %div{:id => 'dialog'}
    = render :partial => 'layouts/footer'
