!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title&= yield(t(:title))
    = csrf_meta_tag
    %meta{:name => 'session-value', :content => cookies['_scientific_profile_session'] }
    %meta{:name => 'session-key', :content => '_scientific_profile_session' }

    = render :partial => 'layouts/blueprint'
    = render :partial => 'layouts/css_base'

    = stylesheet_link_tag "uploadify/uploadify"
    = stylesheet_link_tag "gallery"

    = render :partial => 'layouts/js_base'
    = javascript_include_tag "uploadify/jquery.uploadify.v2.1.0.min", "uploadify/swfobject"
    = javascript_include_tag "gallery"

  %body
    = render :partial => 'layouts/header'
    %div{:class =>'container'}
      = render :partial => 'layouts/navbar'
      = yield
    = render :partial => 'layouts/footer'
