!!!
%html
  %head
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }
    %title&= yield(t(:title))
    = csrf_meta_tag

    = render :partial => 'layouts/blueprint'
    = render :partial => 'layouts/css_base'
    = stylesheet_link_tag "markitup/skins/markitup/style", "markitup/sets/textile/style"

    = render :partial => 'layouts/js_base'
    = javascript_include_tag 'page'
    = javascript_include_tag "markitup/jquery.markitup.pack", "markitup/sets/textile/set"
  %body
    = render :partial => 'layouts/header'
    %div{:class =>'container'}
      - unless current_user.nil?
        = render :partial => 'layouts/navbar'
      = yield
    %div{:id => 'dialog'}
    = render :partial => 'layouts/footer'
